@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&family=Inter:wght@400;500;600;700&display=swap");

:root {
  color-scheme: dark;
  font-family: "Inter", sans-serif;
}

body,
button,
input,
select,
textarea {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Space Grotesk", sans-serif;
}
